@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: 0;
	list-style: none;
	appearance: none;    
}
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #f9f9f9;
	--blue: #3c91e6;
	--light-blue: #cfe8ff;
	--grey: #eee;
	--dark-grey: #aaaaaa;
	--dark: #342e37;
	--red: #c44f4b;
	--yellow: #ffce26;
	--light-yellow: #fff2c6;
	--orange: #fd7238;
	--light-orange: #ffe0d3;
	--hoverblue: #7380ec;
}
body {
	background: var(--grey);
}

/* sidebar */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 281px;
	height: 100%;
	background: var(--light);
	z-index: 1000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	height: 57px;
	display: flex;
	align-items: center;
	color: var(--blue);
	color: black;
}
#sidebar .brand .logo {
	color: var(--blue);
	font-size: 30px;
	font-weight: 800;
}
#sidebar .brand img {
	min-width: 60.5px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background:  transparent;
	margin-left: 6px; 
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 20px;
	color: var(--dark);
	transition: all .1s ease-in;
	white-space: nowrap;
	overflow-x: hidden; 
}
#sidebar .side-menu li.active a {
	color: #7380ec;
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu li a:hover {
	color: #7380ec;
	font-size: 27px;
	margin-left: 1rem;
	transition: .3s ease;
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 17px) * 2)); 
	display: flex;
	justify-content: center;
}
#sidebar .side-menu li:last-child {
	position: absolute;
	bottom: 70px;
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--dark);
	transition: all .1s ease-in;
}
/* sidebar */

/* content */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	/* top: 7px; */
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
} 

/* navbar */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: relative;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
}
#content nav .nav-link {
	font-size: 24px; 
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--hoverblue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
}
#content nav form .form-input button {
	width: 36px; 
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--grey); 
	color: var(--blue);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav form .form-input button:hover {
	cursor: pointer;
	background: var(--hoverblue);
	color: var(--light);
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
/* navbar */

/* main */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 13px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .date {
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 36px;
	padding: 0 30px;
	background: var(--light);
}

/* insights */
#content main .insights {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 17px;
}
#content main .insights > div {
	background-color: var(--light);
	padding: 1.8rem;
	border-radius: 2rem;
	margin-top: 1rem;
	box-shadow: 0 10px 10px var(--dark-grey);
	transition: all .3s ease;
}
#content main .insights > div:hover {
	box-shadow: none;
	cursor: pointer;
}
#content main .insights .bx {
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--light);
	font-size: 2rem;
}
#content main .insights .expenses .bx {
	background: #ff7782;
}
#content main .insights .incomes .bx {
	background: #41f1b6;
}
#content main .insights .middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#content main .insights .middle h1 {
	font-size: 1.6rem;
}
#content main .insights .progress {
	position: relative;
	height: 70px;
	width: 70px;
	border-radius: 50px;
}
#content main .insights svg {
	height: 150px;
	width: 150px;
	position: absolute;
	top: 0;
}
#content main .insights svg circle {
	fill: none;
	stroke: #7380ec;
	transform: rotate(270,80,80);
	stroke-width: 5;
}
#content main .insights .expenses svg circle {
	stroke-dashoffset: 0;
	stroke-dasharray: 150;
}
#content main .insights .incomes svg circle {
	stroke: #41f1b6;
}
#content main .insights .progress .number {
	position: absolute;
	top: 5%;
	left: 5%;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* insights */

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
}

/* recent order */
#content main .table-data .shopping {
	flex-grow: 1;
	flex-basis: 800px;
}
#content main .table-data .shopping .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
	font-size: 20px;
}
#content main .table-data .shopping .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 500;
}
#content main .table-data .shopping table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .shopping table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .shopping table td {
	padding: 16px 0;
}
#content main .table-data .shopping table td .primary:hover {
	text-decoration: underline;
	color: var(--hoverblue);
}
#content main .table-data .shopping table tr td:first-child {
	display: flex;
	align-items: 300px;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .shopping table tbody tr:hover {
	background: var(--grey);
}
/* recent order */

/* saving analytics */
#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 130px;
}
#content main .table-data .todo .head {
	font-size: 20px;
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .todo .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 500;
}
#content main .table-data .todo .item {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1;
	margin: 10px 0;
	width: 100%;
	margin-bottom: 0.8rem;
	padding: 1.4rem 1.8rem;
	border-radius: 1.2rem;
	box-shadow: 0 10px 10px var(--dark-grey);
}
#content main .table-data .todo .item:hover {
	box-shadow: none;
	cursor: pointer;
}
#content main .table-data .todo .item .icon {
	background: #7380ec;
	padding: 0.6rem;
	color: #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	line-height: 50px;
	align-items: center;
}
#content main .table-data .todo .item:nth-child(3) .icon {
	background-color: #41f1b6;
}
#content main .table-data .todo .item:nth-child(4) .icon {
	background-color: #ff7782;
}
#content main .table-data .todo .item .right {
	margin-left: 15px;
	display: flex;
}
/* saving analytics */
/* main */
/* content */

/* media */
@media screen and (max-width: 769px) {
	#content {
		width: calc(100% - 60px);
	}
	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 577px) {
	#content nav form .form-input input {
		display: none;
	}
	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}
	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}
	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}
}
/* media */
